@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --c-amber-100: oklch(96.2% 0.059 95.617);

    --c-zinc-100: oklch(96.7% 0.001 286.375);
    --c-zinc-200: oklch(92% 0.004 286.32);

    --c-zinc-400: oklch(70.5% 0.015 286.067);
    --c-zinc-500: oklch(55.2% 0.016 285.938);
    --c-zinc-600: oklch(44.2% 0.017 285.786);
    --c-zinc-700: oklch(37% 0.013 285.805);
    --c-zinc-800: oklch(27.4% 0.006 286.033);
    --c-zinc-900: oklch(21% 0.006 285.885);

    --c-sky-50: oklch(97.7% 0.013 236.62);
    --c-sky-400: oklch(74.6% 0.16 232.661);
    --c-sky-900: oklch(39.1% 0.09 240.876);
    
    --c-lime-800: oklch(45.3% 0.124 130.933);
    --c-lime-900: oklch(40.5% 0.101 131.063);

    --bg-1: var(--c-zinc-600);
    --bg-2: var(--c-zinc-700);
    --bg-3: var(--c-zinc-800);

    --accent-1: var(--c-zinc-500);
    --accent-2: var(--c-zinc-400);

    --text-col-1: var(--c-zinc-100);
    --text-col-2: var(--c-zinc-200);

    background: 
        linear-gradient(20deg, 
        var(--bg-3) 0%, 
        var(--bg-2) 5%, 
        var(--bg-1) 20%, 
        var(--bg-2) 80%, 
        var(--bg-3) 95%);

    color: var(--text-col-1);

    height: 100%;

    font-family: "Work Sans", sans-serif;

    overflow: hidden;
}

body {
    margin: 0;
    padding: 25px;
    height: 100%;
    overflow-y: auto;
}

header {
    border-bottom: 1px solid var(--accent-1);
    margin-bottom: 20px;
}

h1 {
    margin-top: 0;
}

button {
    text-align: center;
    font-size: 15px;
    cursor:pointer;

    outline: none;
    
    padding: 5px;
}

button:hover {
    background: var(--bg-3);
    outline: 1px solid var(--accent-2);
}

input, button {
    font-family: inherit;
    background: var(--bg-2);
    color: var(--text-col-2);

    border: 1px solid var(--accent-1);
    border-radius: 2px;
}

input {
    padding: 2px;
    outline: none;
}

input:focus {
    outline: 1px solid var(--accent-2);
}

#pet-template {
    display: none;
}

.pet-container {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;
    margin-left: 0;
    margin-bottom: 30px;
}

.pet-image {
    height:250px;
    border: 2px solid var(--accent-2);
}

.pet-image-container {
    position: relative;
}

.img-edit-label {
    position: absolute;
    top: 5px;
    right: 5px;

    background: color-mix(in lch, var(--bg-2) 60%, transparent 10%);
    color: var(--text-col-2);

    border: 1px solid var(--accent-1);
    border-radius: 2px;

    cursor: pointer;
}

.img-edit-label:hover {
    background: color-mix(in lch, var(--bg-3) 70%, transparent 10%);
    outline: 1px solid var(--accent-2);
}

.action-indicator {
    margin: 0;
    position: absolute;
    left: 5px;
    bottom: 9px;

    background: color-mix(in lch, var(--c-lime-900) 70%, transparent 20%);
    /* mix-blend-mode:hard-light; */
    border: 1px solid var(--accent-1);
}

.img-edit-label, .action-indicator {
    backdrop-filter: blur(5px) contrast(2);
    

    padding: 4px;

    border-radius: 4px;
}

.name-input {
    margin-top: 5px;
}

.pet-name-and-button {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pet-name-and-button > button {
    font-size: 12px;
    padding: 4px;
}

.button-container {
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}

.button-container button {
    width: 100px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.no-display {
    display: none;
}
